.diary-background{
  margin-top:20px;
  padding:30px 20px;
  border-radius: 4px;
  border: 1px solid #dadce0;
  box-shadow: 0 2px 4px 0 rgba(63, 71, 77, 0.06);
}
.diary-content{
  text-align: center;
}
.diary-content-star{
  margin-top:20px;
}

.diary-content-star-button{
  background: none;
  border: none;
  font-size: xx-large;
  color:#EAC03A;
}

.diary-content-write{
  margin-top:20px;
}

#diary-textarea{
  margin-top: 10px;
}

#diary-textarea.focusoff{
  border: 1px solid white !important;
}

#diary-textarea:focus{
  border-color:#EAC03A;
  box-shadow: 0 0 0 0.2rem #eac13a50;
}

.review-btn {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 100px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 15px 10px 10px 5px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: none;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
  }
  .review-complete-btn {
    color: #fff;
    z-index: 1;
    background-color: #EAC03A;
}
  .review-complete-btn:active {
    background-image: linear-gradient(298deg, #e65c2e, #eac03a);
  }
  .review-cancel-btn {
    color: #353746;
    z-index: 1;
    background-color: #dadce0;
  }
  .review-cancel-btn:active {
    background-color: #999;
  }