/* pc */
@media (min-width: 480px) {
  :root {
    --progress-bar-width: 10vw;
    --progress-bar-width-half: 5vw;
  }

  
}

/* mobile */
@media (max-width: 480px) {
  :root {
    --progress-bar-width: 18vw;
    --progress-bar-width-half: 9vw;
  }
  .challenge-fit img {
    width:120px;
    object-fit:cover;
  }
}

.background-creating {
  /* background-color: #eeeeee; */
  height: 100%;
  padding-top: 40px;
}

.component {
  /* background-color: #ffffff; */
  border-radius: 4px;
  border: 1px solid #dadce0;
  box-shadow: 0 2px 4px 0 rgba(63, 71, 77, 0.06);
  padding: 60px 3vw;
}

/* 프로그래스바 */
.creating-progress-bar img {
  width: 50px;
  margin-bottom: 15px;
}

#creating-progress-list {
  padding: 0px !important;
  text-align: center;
}

.creating-progress-bar li {
  display: inline-block;
  width: var(--progress-bar-width);
  position: relative;
}

.creating-progress-bar li .creating-progress-check-icon {
  background-color: #eac03a;
  width: 16px;
  height: 16px;
  border-radius: 15px;
  color: #ffffff;
}

.creating-progress-bar li .creating-progress-check-icon::after {
  content: '';
  background: #eac03a;
  width: var(--progress-bar-width);
  height: 5px;
  display: block;
  position: absolute;
  left: 0;
  top: 75px;
  z-index: -1;
}

.this-page {
  background-color: #e65c2e !important;
}

.this-page::after {
  background-color: #e65c2e !important;
}

.creating-progress-bar li:first-child .creating-progress-check-icon::after {
  width: var(--progress-bar-width-half);
  left: 50%;
}

.creating-progress-bar li:last-child .creating-progress-check-icon::after {
  width: var(--progress-bar-width-half);
}


.require-icon{
  color:#e65c2e;
  vertical-align: top;
}

/* 챌린지 개설 소개 */

.challenge-creating-title {
  font-weight: 600;
  text-align: center;
  margin: 30px 0px;
}

.challenge-creating-row {
  margin-bottom: 10px;
}


/* 페이지 이동 버튼 */
.prev-page-button {
  transition: transform 300ms ease 100ms;
}

.prev-page-button span {
  margin-left: 10px;
}

.next-page-button {
  transition: transform 300ms ease 100ms;
  float: right;
}

.next-page-button span {
  margin-right: 10px;
}

.prev-page-button,
.prev-page-button:checked,
.prev-page-button:not(:checked),
.prev-page-button:focus,
.prev-page-button:active,
.next-page-button,
.next-page-button:checked,
.next-page-button:not(:checked),
.next-page-button:focus,
.next-page-button:active {
  border: none;
  outline: none !important;
  background: none !important;
  box-shadow: none !important;
  color: black !important;
}

/* 체크버튼 가리기 */
.challenge-bodyList:checked,
.challenge-bodyList:not(:checked),
.challenge_kind:checked,
.challenge_kind:not(:checked) {
  display: none;
}

/* challenge_kind */
.challenge_kind:checked + label,
.challenge_kind:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding: 10px 3vw;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-text-stroke: 1px #ffffff;
  text-stroke: 1px #ffffff;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
}
.challenge_kind:not(:checked) + label {
  background-color: #dbdbdb;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.challenge_kind:checked + label {
  background-color: transparent;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.challenge_kind:not(:checked) + label:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.challenge_kind:checked + label::before,
.challenge_kind:not(:checked) + label::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-image: linear-gradient(298deg, #e65c2e, #eac03a);
  z-index: -1;
}
.challenge_kind:checked + label span,
.challenge_kind:not(:checked) + label span {
  position: relative;
  display: block;
}
.challenge_kind:checked + label span::before {
  position: absolute;
  content: attr(data-hover);
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  -webkit-text-stroke: transparent;
  text-stroke: transparent;
  -webkit-text-fill-color: #ffffff;
  text-fill-color: #ffffff;
  color: #ffffff;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

.challenge_kind:not(:checked) + label span::before {
  position: absolute;
  content: attr(data-hover);
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  -webkit-text-stroke: transparent;
  text-stroke: transparent;
  -webkit-text-fill-color: #ffffff;
  text-fill-color: #ffffff;
  color: #ffffff;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  transition: max-height 0.3s;
}
.challenge_kind:not(:checked) + label span::before {
  max-height: 0;
}
.challenge_kind:checked + label span::before {
  max-height: 100%;
}

/* challenge-fit */
.challenge-fit button {
  border: none;
  background: none;
  transition: transform 300ms ease 100ms;
}

.challenge-fit button:checked,
.challenge-fit button:not(:checked) {
  border: none;
  background: none;
  color: black;
}

.challenge-fit .btn:focus,
.challenge-fit .btn:active {
  outline: none !important;
  background: none !important;
  box-shadow: none !important;
  color: black !important;
}

.challenge-fit .choice {
  transform: scale(1.3);
}

.challenge-fit .not-choice {
  opacity: 0.5;
}

.challenge-fit img {
  height: 150px;
  object-fit:cover;
}

.challenge-fit span {
  text-align: center;
}

/* challenge-bodyList */
.challenge-bodyList:checked + label,
.challenge-bodyList:not(:checked) + label {
  position: relative;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  padding: 0;
  padding: 6px 25px;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 16px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  background-color: #dbdbdb;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.challenge-bodyList:checked + label {
  background-color: #ffffff23;
}
.challenge-bodyList:not(:checked) + label::before {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.challenge-bodyList:checked + label::before {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.challenge-bodyList:not(:checked) + label:hover::before {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.challenge-bodyList:checked + label::before,
.challenge-bodyList:not(:checked) + label::before {
  position: absolute;
  content: '';
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 4px;
  z-index: -2;
  background-image: linear-gradient(298deg, #e65c2e, #eac03a);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.challenge-bodyList:not(:checked) + label::before {
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
.challenge-bodyList:checked + label::after,
.challenge-bodyList:not(:checked) + label::after {
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 4px;
  z-index: -2;
  background-color: #dbdbdb;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.challenge-bodyList:checked + label::after {
  opacity: 0;
}
.challenge-bodyList:checked + label .uil,
.challenge-bodyList:not(:checked) + label .uil {
  font-size: 20px;
}
.challenge-bodyList:checked + label .text,
.challenge-bodyList:not(:checked) + label .text {
  position: relative;
  display: inline-block;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

/* 챌린지 기간페이지 */
.date-period {
  margin: 20px 0 40px 0;
}

.date-period span {
  font-weight: 700;
  font-size: large;
}

.challenge-period-information span {
  font-size: small;
}

.challenge-period-daylist {
  padding: 0px !important;
}

/* 챌린지 인증 페이지 */
.challenge-certification-way div {
  display: inline-block;
  margin: 0px 10px;
}

.challenge-certification-way input {
  display: none;
}

.challenge-certification-way label {
  background-color: #eac03a;
  margin: 0px 10px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(34, 35, 58, 0.2);
  transition: transform 300ms;
}

.challenge-certification-way label:hover,
.challenge-certification-way input:checked + label:hover {
  transform: scale(1.1);
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.2);
}

.challenge-certification-way input:checked + label {
  background-color: #e65c2e;
  color: white;
  box-shadow: 0px 2px 6px rgba(34, 35, 58, 0.3);
}

.challenge-certification-way span {
  font-size: small;
}

/* 태그페이지 */
.tag-list {
  text-align: center;
  white-space: normal;
}

#tag {
  display: inline-block;
  background-color: #eac03a;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 5px 0px;
  font-weight: 700;
  color: white;
  box-shadow: 2px 2px 2px rgba(34, 35, 58, 0.2);
  transition: transform 200ms;
}

#tag:hover {
  transform: scale(1.05);
  background-color: #e65c2e;
  box-shadow: 4px 4px 4px rgba(10, 10, 17, 0.2);
}

/* 완료 페이지 */

#challenge-creating-end-button {
  text-decoration: none;
  background-color: #eac03a;
  color: white;
  text-align: center;
  padding: 12px 25px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(34, 35, 58, 0.2);
  transition: transform 300ms;
}

#challenge-creating-end-button:hover {
  transform: scale(1.2);
  background-color: #e65c2e;
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.2);
}

.loading{
  position:fixed;
  width: 100%;
  height:100%;
  left: 0;
  top:0;
  background-color: #eeeeeec4;
  z-index: 1000;
}
.loading #loading-icon{
  position:absolute;
  top:50%;
  left:50%;
  height: 100px;
  width:160px;
  margin:-50px 0px 0px -80px;
  color:black;
  font-weight: 600;
  font-size: large;
  text-align: center;
}

/* 기본 */
.align-center {
  text-align: center;
}
.vertical-align-middle {
  vertical-align: middle;
}

.font-size-small {
  font-size: small;
}
