

  /* 모바일 */
  @media (max-width: 480px) {
      /* 탭 */
  .manage-container {
    margin: 0px auto;
  }
    
    /* 상단에 붙어있는 위치 */
    .manage-menu-bar {
      top: 64px;
      height: 38px;
    }
  }
  /* PC */
  @media (min-width: 480px) {
      /* 탭 */
  .manage-container {
    margin: 15px auto 0;
  }
    /* 상단에 붙어있는 위치 */
    .manage-menu-bar {
      top: 130px;
    }
  }
  /* 상세페이지 네비게이션바 */
  .manage-menu-bar {
    position: sticky;
    height: 50px;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
  }

  .manage-menu-bar ul{
    /* background-color: #eac03a; */
    height:50px;
    padding-top: 5px;
    width:100%;
  }

  .manage-menu-bar li{
    width:20%;
  }
  .manage-menu-bar a{
    border-color: #eed891 #eed891 #dee2e6 #eed891 !important;
    background-color: #eed891;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    text-align: center;
    margin:0px 2px;
    /* padding:4px 0px !important; */
    height:40px;
    margin-top:4px !important;
    color:#7a6f4b;
  }

  .manage-menu-bar a.active{
    border-color: #dee2e6 #dee2e6 #fafafa !important;
    background-color:  #fafafa !important;
    /* padding:6px 0px !important; */
    height:45px;
    margin-top:0px !important;
    color:black;
    font-weight: bold;
  }

  /* .manage-menu-bar {
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
  }
  .border-left {
    border-left: 1px solid black;
  }
  .border-right {
    border-right: 1px solid black;
  }
  .active {
    color: #EAC03A;
  }
  .tab-pd {
      padding: 0;
  }
  .tab-cursor:hover {
    cursor: pointer;
  } */

  /* 카테고리 */
  #category-hr-top {
    margin: 8px 0 !important;
  }
  
  #category-hr-bottom {
    margin: 0 0 15px 0 !important;
  }
  
  .manage-category-background {
    background-color: #fafafa;
    padding:5px 0;
  }
  
  .manage-category {
    padding: 0 !important;
    white-space: nowrap;
    overflow: auto;
  }
  
  .checkbox-tools:checked,
  .checkbox-tools:not(:checked) {
    display: none;
  }
  
  .checkbox-tools:checked + label,
  .checkbox-tools:not(:checked) + label {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 100px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 15px 10px 10px 5px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    color: #353746;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
  }
  
  .checkbox-tools:checked + label {
    color: #fff;
    background-image: linear-gradient(298deg, #e65c2e, #eac03a);
    z-index: 1;
  }
  
  .checkbox-tools:not(:checked) + label {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  .checkbox-tools:checked + label {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .checkbox-tools:not(:checked) + label:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }  
