.mainfeedpage-container {
  padding-top: 10px;
  width: 80%;
  display: block;
  margin: 0 auto;
}
/* 카테고리 */
#category-hr-top {
  margin: 8px 0 !important;
}

#category-hr-bottom {
  margin: 0 0 15px 0 !important;
}

.category-background {
  background-color: #fafafa;
  margin: 10px 0px;
}

.category {
  padding: 0 !important;
  white-space: nowrap;
  overflow: auto;
}

.checkbox-tools:checked,
.checkbox-tools:not(:checked) {
  display: none;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding: 10px;
  width: 100px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 15px 10px 10px 5px;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  color: #353746;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.checkbox-tools:checked + label {
  color: #fff;
  background-image: linear-gradient(298deg, #e65c2e, #eac03a);
  z-index: 1;
}

.checkbox-tools:not(:checked) + label {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-tools:checked + label {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:not(:checked) + label:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* 피드 */
.mainfeedpage-container {
  clear: both;
  padding-top: 15px;
  padding-bottom: 3rem;
  display: flex;
}

.challenge-list-feed {
  padding: 4px 4px !important;
  /* transition: transform 300ms ease 100ms; */
}

.mainfeedpage-container .challenge-list-feed:hover {
  transform: scale(1.2);
  z-index: 2;
}
