.block-box {
    margin-bottom: 100px;
}
/* 반응형 */
@media screen and (max-width: 768px) {
    .block-box {
        margin-bottom: 60px;
    }
    .switch-button {
        width: 300px !important; 
        /* font-size: 1.5vh !important; */
    }
}
.switch-box {
    position: relative;
}
.switch-button {
    /* 전체 배경색 */
    background: grey;
    width: 400px;
    height: 60px;
    text-align: center;
    /* 활성화 폰트 굵기, 크기 */
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3D(-50%, -50%, 0);
    will-change: transform;
    z-index: 197 !important;
    cursor: pointer;
    transition: 0.3s ease all;
    /* 전체 테두리 */
    border: 1px solid grey;
    border-radius: 30px;
}
.switch-button-case {
    display: inline-block;
    background: none;
    width: 49%;
    height: 100%;
    /* 비활성화 글자색 */
    color: white;
    position: relative;
    border: none;
    transition: 0.3s ease all;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 1px;
}
.switch-button-case:hover {
    /* 비활성화 호버시 글자색 */
    color: wheat;
    cursor: pointer;
}
.switch-button-case:focus {
    outline: none;
}
.switch-button .active {
    color: #151515;
    /* 활성화 버튼 배경색 */
    /* background-color: #e65c2e; */
    /* background: linear-gradient(45deg, rgba(234,192,58,1) 0%, rgba(230,92,46,1) 100%); */
    background: linear-gradient(30deg, rgba(234,192,58,1) 15%, rgba(230,92,46,1) 85%);
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    border-radius: 30px;
    transition: 0.3s ease-out all;
}
.switch-button .active-case {
    /* 활성화 버튼 글자색 */
    color: white;
}
