/* 모바일 */
@media (max-width: 480px) {
    #info-navbar{
        top:64px;
        height:38px;
    }

    .info-float{
        background-color: white;
        position:fixed;
        bottom:60px;
        width: 100%;
        height: 60px;
        z-index:5;
        box-shadow:0px 0px 2px rgba(1, 1, 1, 0.1);
    }

    .info-main{
        margin-bottom:80px;
    }
}
/* PC */
@media (min-width: 480px) {
    #info-navbar{
        top:130px;
    }

    .info-float{
        position: fixed;
        width:200px;
        height:65px;
        bottom : 40px;
        right:50px;
        z-index:5;
    }

    .info-main{
        margin-bottom:30px;
    }
}


/* 상세페이지 네비게이션바 */
#info-navbar{
    background-color:#EAC03A;
    position:sticky;
    height: 50px;
    z-index: 5;
}

.info-navbar-ul{
    display: inline-block;
    list-style: none;
    padding:0 !important;
    margin-bottom: 0px !important;
}

.info-navbar-ul li {
    position:relative;
    z-index: 1;
    display: inline-block;
    padding:12px 5vw;
    font-size: large;
    font-weight: 700;
    color: white;
  }
  .info-navbar-ul li:hover {
    color: #000000;
  }
  .info-navbar-ul li:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #fafafa60;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  .info-navbar-ul li:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }

  .info-navbar-ul li,
  .info-navbar-ul li:after,
  .info-navbar-ul li:before {
  transition: all .5s;
}


/* 상세 정보 */
.more-info-title{
    display: inline-block;
    
    margin: 10px 0px;
    padding:5px 10px;

    background-color: #eac13a50;
    border-radius: 10px;

    font-size: larger;
    font-weight: 600;
   
}



/* 챌린지 인증방법 */
.certify-contents-onlycam span{
    font-size:small;
    margin-left:3px;
}



/* 참여버튼 창 */
.info-float-inside{
    height: 100%;
}

#bookmark-button{
    color:white;
    background-color: #EAC03A;
    border:none;
}

#bookmark-button:hover{
    background-color: #e4b724;
}

#bookmark-button:focus,
#bookmark-button:active{
    border: none;
    outline: none;
    box-shadow: none;
}

#info-float-button-group{
    background-color: #EAC03A;
    border-radius: 10px;
    box-shadow:2px 2px 3px rgba(1, 1, 1, 0.2);
}

.apply-button{
    background-color: #EAC03A;
    border: none;
    
}

.apply-button:hover{
    background-color: #e4b724;
}
.apply-button:focus,
.apply-button:active{
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #e4b724 !important;
}

.apply-button.mobile{
    width: 100%;
    height: 45px;
}

.apply-button.pc{
    display: inline;
    font-size: larger;
    font-weight: 600;
    padding:10px 30px;
}

.apply-button.no-login{
    box-shadow:2px 2px 3px rgba(1, 1, 1, 0.2);
}

/* 기본 */
.align-center{
    text-align: center;
}

.vertical-align-middle{
    vertical-align: middle;
}