/* 모바일 */
@media (max-width: 480px) {
    #info-navbar{
        top:104px;
        height:38px;
    }
}
/* PC */
@media (min-width: 480px) {
    #info-navbar{
        top:130px;
    }
}

/* Mobile large */
@media(max-width:992px){
    .info-float{
        position:fixed;
        bottom:0px;
        width: 100%;
        height: 60px;
        z-index:5;
        box-shadow:-4px 0px 8px 1px rgba(39, 44, 56, 0.2);
    }

    .info-main{
        margin-bottom:80px;
    }

}

/* PC large */
@media(min-width:992px){
    .info-float{
        top:190px;
        position:sticky;
        background-color: white;
        border-radius: 10px;
        height:100px;
        margin-top: 20px;
        box-shadow:0 2px 4px 1px rgba(39, 44, 56, 0.2);
    }

    .info-main{
        margin-bottom:30px;
    }

}

/* 상세페이지 네비게이션바 */
#info-navbar{
    background-color:#EAC03A;
    position:sticky;
    height: 50px;
    z-index: 5;
}

.info-navbar-ul{
    display: inline-block;
    list-style: none;
    padding:0 !important;
    
}

.info-navbar-ul li{
    display: inline-block;
    padding:10px 5vw;
    font-size: large;
    font-weight: 700;
    color: white;
}


/* 상세 정보 */
.more-info-title{
    display: inline-block;
    
    margin: 10px 0px;
    padding:5px 10px;

    background-color: #eac13a50;
    border-radius: 10px;

    font-size: larger;
    font-weight: 600;
   
}


/* 좌측 플로트 메뉴창 */
.info-nav-float{
    display:inline-block;
    position: fixed;
    top:50%;
    background-color: #fafafa50;
    font-size:small;
}

.info-nav-float ul{
    display:inline-block;
    padding:0 0 0 20px;
    margin:5px 5px !important;
}

.info-nav-float .info-nav-button{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: none !important;
    color:black;
    padding:0px !important;
}


/* 챌린지 인증방법 */
.certify-contents-onlycam span{
    font-size:small;
    margin-left:3px;
}



/* 참여버튼 창 */
.info-float{
    background-color: white;
}

.info-float-inside{
    height: 100%;
}

#bookmark-button{
    background: none;
    border: none;
    color:gray;
}

.apply-button{
    background-color: #EAC03A;
    border: none;
    box-shadow:2px 2px 4px 1px rgba(39, 44, 56, 0.1);
}

.apply-button:focus,
.apply-button:active{
    border: none;
    outline: none;
    box-shadow: none;
}

.apply-button.mobile{
    width: 95%;
    height: 45px;
}

.apply-button.pc{
    display: inline;
    width:90%;
    height:80px;
    font-size: larger;
    font-weight: 600;
}

/* 기본 */
.align-center{
    text-align: center;
}

.vertical-align-middle{
    vertical-align: middle;
}