#hr-top {
  margin: 8px 0 !important;
}

.mt-3 {
  margin-top: 0px;
  padding-bottom: 3rem;
}
/* 
a,
button,
[role='button'],
input[type='button'],
input[type='submit'],
input[type='reset'] {
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
} */

.user-img {
  width: 100%;
  height: 100%;
}

.user-profile {
  margin-top: 30px;
  padding-top: 30px;
  border-radius: 4px;
  border: 1px solid #dadce0;
  box-shadow: 0 2px 4px 0 rgba(63, 71, 77, 0.06);
}
.user-profile-edit {
  /* background-position-x: -360px;
  background-position-y: -280px; */
  width: 24px;
  height: 24px;
  float: right;
  padding-right: 40px;
  padding-top: 5px;
}

.edit-icon {
  width: 23px;
  height: 23px;
}
.user-profile-container {
  padding-left: 30px;
  padding-bottom: 5px;
}
.user-profile-image {
  width: 82px;
  height: 82px;
  margin-right: 20px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.07);
  overflow: hidden;
  float: left;
}

.user-profile-info {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  float: left;
}

.user-profile-nickname {
  padding-left: 1px;
}
.nickname-text {
  font-weight: bold;
  font-size: 22px;
}

.vertical-bar {
  width: 1px;
  height: 15px;
  background-color: #dadce0;
  margin-top: 1px;
  margin-left: 2px;
  margin-right: 2px;
}

.justtext {
  font-size: 14px;
  color: #828c94;
}

.user-profile-grade-point {
  padding-top: 3px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  color: #828c94;
  font-size: 13px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  margin-bottom: 10px;
}

.user-profile-grade {
  padding-right: 15px;
}

.user-profile-point {
  padding-left: 15px;
}

.user-profile-link {
  margin-top: 100px;
  border-top: 1px solid #eaebef;
  padding: 22px 12px 20px;
  justify-content: center;
}

.short-cut {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.short-cut-item {
  flex: 1;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  max-width: 33.33333%;
  padding-left: 16px;
  padding-right: 16px;
  transition: opacity 0.1s;
}

.short-cut-icon {
  position: relative;
  margin: 0 auto 4px;
  width: 24px;
  height: 24px;
}

.short-cut-text {
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #424242;
}

.user-status-todo {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #dadce0;
  box-shadow: 0 2px 4px 0 rgba(63, 71, 77, 0.06);
  display: flex;
}
.user-challenge-status {
  /* border-right: 1px solid #eaebef; */
  padding: 10px;
}

.label-challenge-status {
  font-weight: bold;
  font-size: 19px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: center;
}

.move-challenge-list {
  margin: auto;
  text-align: center;
  width: 100%;
}

.status-list-both {
  display: inline-block;
  text-align: center;
  border-right: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
  /* padding: 15px; */
}
.status-list-right {
  display: inline-block;
  text-align: center;
  border-right: 1px solid #e2e2e2;
  padding-right: 10px;
  width: 25%;
  /* padding: 15px; */
}
.status-list-left {
  display: inline-block;
  text-align: center;
  border-left: 1px solid #e2e2e2;
  padding-left: 10px;
  width: 25%;
  /* padding: 15px; */
}

.status {
  margin: auto;
  font-size: 15px;
  color: #828c94;
  text-align: center;
}

.status-amount {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #424242;
}

.user-todo-list {
  padding: 10px 28px 10px;
}

.label-today-todo {
  font-weight: bold;
  font-size: 19px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: left;
}

.myfeeds {
  padding-top: 30px;
  margin-top: 40px;
  background-color: #fafafa;
  padding-bottom: 3rem;
}

.my-feed-label {
  font-weight: bold;
  font-size: 19px;
  padding-bottom: 10px;
  text-align: center;
}

.my-body-label {
  font-weight: bold;
  font-size: 19px;
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: center;
}

.my-feed-plus {
  text-align: right;
  margin-right: 15px;
  font-size: 13px;
}
.mypage-myfeed {
  border-bottom: 1px solid #eaebef;
  padding-bottom: 10px;
}
.grid-feed {
  margin-top: 15px;
}
