.certificationphoto-container {
  padding: 35px 7vw;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding-bottom: 3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#__BVID__20 {
  margin: auto;
  /* text-align: center; */
}
/* 안내문구 */
.cert-upload-info {
  margin: auto;
  text-align: center;
  padding: 20px;
}

.cert-big {
  font-weight: bold;
  font-size: 20px;
}

.cert-small {
  font-size: 14px;
}
/* 이미지 */

.certification-photo{
  width:25%;
}

.certification-photo-img {
  position: relative;
  padding-top: 100%; /* 1:1 ratio */
  overflow: hidden;
}

.certification-photo-img .centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.certification-photo-img .centered img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#certification-photo-x-button{
  border:none !important;
  background: none !important;
  color:black;
}

#certification-photo-x-button:hover{
  color:#EAC03A;
}

#certification-photo-x-button:focus,
#certification-photo-x-button:active{
  box-shadow: none !important;
  border:none !important;
  color:#EAC03A !important;
}

.certification-image-upload {
  margin: 10px 0px;
  font-size: 14px;
}

.form-group {
  margin: auto;
  width: 100%;
}

.custom-file-input.is-valid ~ .custom-file-label,
.was-validated .custom-file-input:valid ~ .custom-file-label {
  border-color: #ccc7b8;
}

.custom-file-input.is-invalid ~ .custom-file-label,
.was-validated .custom-file-input:invalid ~ .custom-file-label {
  border-color: #ccc7b8;
}

.custom-file-input.is-invalid:focus ~ .custom-file-label,
.was-validated .custom-file-input:invalid:focus ~ .custom-file-label {
  border-color: #ccc7b8;
}

.certification-image-name {
  font-size: 14px;
}

.cert-upload-image {
  width: 100%;
}

/* 문구 */
.certification-text-upload {
  padding: 10px;
  margin: 10px 0px;
  font-size: 14px;
}
/* 버튼 */
.certification-submit {
  margin: auto;
  text-align: center;
  margin-top: 18px;
}

.btn-warning {
  color: #fff;
  font-weight: bold;
  background-color: #eac03a;
  border-color: #eac03a;
  text-align: center;
}

.align-center {
  text-align: center;
  margin: auto;
}
