.challenge-list-card-body {
    margin: 5px 10px;
  }

  .challenge-list-card-footer {
    margin: 5px 10px;
  }
  
  .challenge-list-card-hr {
    margin: 0px !important;
  }

  #list-card-title {
    font-size: large;
    font-weight: 700;
    width:100%;
    height:2.8em;
  }

  #list-card-title span{
    line-height: 1.4em;
  }


  .challenge-list-card-total img{
    object-fit:fill;
  }


  
  .card-user-image {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
  
  #card-user-nick-name {
    font-size: small;
    font-weight: 500;
    color: #aaa;
    margin-left: 5px;
  }

  .card-day-info span{
    display: inline-block;
    background-color: #eac03a;
    border-radius: 3px;
    font-size: small;
    color: #fff;
    padding: 2px 3px;
    margin-right: 3px;
  }

  .card-check-date{
    float:right;
    font-size: small;
    color: #fff;
    padding: 2px 3px;
  }

  .check-date-0{
    color: #eac03a !important;
  }
  .check-date-1{
    color: #e65c2e !important;
  }
  
  .check-date-2{
    color: #aaa !important;
  }
  /* .bookmark-icon {
    position: absolute;
    width: 1em;
    height: 1em;
    z-index: 4;
    left: 6px;
    top: 9px;
  }
  .bookmark-btn {
    color: #EAC03A;
    z-index: 4;
  }
  .bookmark-btn:hover {
      cursor: pointer;
  } */
  .bookmark-disabled {
    display: none;
  }
  .cancel_disabled {
    display: none;
  }
  .delete_disabled {
    display: none;
  }
 
  @media (max-width: 480px) {
    .cancel-icon {
        padding: 4px;
    }
    .delete-icon  {
        padding: 4px;
    }
    #list-card-title{
      height:4.2em;
    }
  }

  .cancel-icon {
    color: white;
    position: absolute;
    width: 4em;
    height: 2em;
    z-index: 4;
    right: 15px;
    bottom: 15px;
    text-align: center;
    background: #EAC03A;
  }

  .cancel-icon:hover {
    cursor: pointer;
    color: #E65C2E;
  }


  .delete-icon {
    color: white;
    position: absolute;
    width: 4em;
    height: 2em;
    z-index: 4;
    right: 15px;
    bottom: 15px;
    text-align: center;
    background: #EAC03A;
  }
  .delete-icon:hover {
    cursor: pointer;
    color: #E65C2E;
  }