

.recommend-tabs ul{
  white-space: nowrap;
}

.recommend-category-background {
  background-color: #fafafa;
  margin: 10px 0px;
}

.recommend-category {
  padding: 0 !important;
  white-space: nowrap;
  overflow: auto;
}

.recommend-checkbox-tools:checked,
.recommend-checkbox-tools:not(:checked) {
  display: none;
}

.recommend-checkbox-tools:checked + label,
.recommend-checkbox-tools:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 15px 10px 10px 5px;
  width:150px;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  color: #353746;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.recommend-checkbox-tools:checked + label {
  color: #fff;
  background-image: linear-gradient(298deg, #e65c2e, #eac03a);
  z-index: 1;
}

.recommend-checkbox-tools:not(:checked) + label {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.recommend-checkbox-tools:checked + label {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.recommend-checkbox-tools:not(:checked) + label:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* 무한스크롤 */
.infinite-loading-message {
  margin: 20px 0 40px 0;
  font-size: large;
  font-weight: 700;
}

.infinite-loading-message button,
.infinite-loading-message button:hover,
.infinite-loading-message button:focus,
.infinite-loading-message button:active {
  background-color: #eac03a !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  outline: none !important;
  border: none !important;
}

.infinite-loading-message button {
  padding: 10px 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.infinite-loading-message button:hover,
.infinite-loading-message button:focus,
.infinite-loading-message button:active {
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.2);
}

.infinite-loading-message button:focus,
.infinite-loading-message button:active {
  box-shadow: none !important;
}

.align-center{
  text-align: center;
}


.challenge-recommend-highlight{
  font-size: large;
  font-weight: 600;
  color: #e65c2e;
}

#challenge-recommend-edit-button{
  background: none;
  color:gray;
  box-shadow: none;
  border: none;
}

.challenge-recommend-text{
  margin:20px 0;
  text-align: center;
}

.display-inline-block{
  display: inline-block;
}



/* 카드 */
.recommend-list-card {
    clear: both;
    display: flex;
  }
  
  .recommend-challenge-list-card {
    padding: 4px 4px !important;
    transition: transform 300ms ease 100ms;
  }
  
  .recommend-list-card .challenge-list-card:hover {
    transform: scale(1.2);
    z-index: 2;
  }
  
  