.challenge-list-card-body {
    margin: 5px 10px;
    
  }
  
  .challenge-list-card-footer {
    margin: 5px 10px;
  }
  
  .challenge-list-card-hr {
    margin: 0px !important;
  }

  #list-card-title {
    font-size: large;
    font-weight: 700;
    overflow: hidden;
    width:100%;
    height:30px;
  }

  #list-card-title span {
    white-space: nowrap;
  }

  .challenge-list-card-total:hover #list-card-title.ellipsis {
    text-overflow: clip;
    
  }


  .ellipsis{
    text-overflow: ellipsis;
  }
  
  
  .card-user-image {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  #card-user-nick-name {
    font-size: small;
    font-weight: 500;
    color: #aaa;
    margin-left: 5px;
  }
  
  #card-day {
    background-color: #eac03a;
    border-radius: 7%;
    font-size: small;
    color: #fff;
    padding: 4px 3px;
    margin-right: 3px;
  }
  
  #card-period {
    background-color: #eac03a;
    border-radius: 10%;
    font-size: small;
    color: #fff;
    padding: 4px 3px;
    margin-right: 3px;
  }
  /* .bookmark-icon {
    position: absolute;
    width: 1em;
    height: 1em;
    z-index: 4;
    left: 6px;
    top: 9px;
  }
  .bookmark-btn {
    color: #EAC03A;
    z-index: 4;
  }
  .bookmark-btn:hover {
      cursor: pointer;
  } */
  .bookmark-disabled {
    display: none;
  }