
/* 달력 최상단 */
.calendar-top{
    display: flex;
    justify-content: space-around;
    margin:0px 0px 30px 0px;
}

.calendar-move-button,
.calendar-move-button:focus{
    background: none !important;
    box-shadow: none !important;
    border: none;
    color:#EAC03A;
    translate: 0.3s ease 0.1s;
}

.calendar-move-button:hover{
    background: none;
    box-shadow: none !important;
    color:#EAC03A;
    transform: scale(1.2);
}


.calendar-move-button:active{
    background: none !important;
    box-shadow: none !important;
    color:#E65C2E !important;
}


/* 달력 */
.calendar-year-month{
    display: inline-block;
    margin:0px auto;
    color:#EAC03A;
}

.calendar-table{
    width:100%;
    margin:20px 0px;
}

.calendar-column{
    flex-grow:1;
    text-align: center;
}


.calendar-column-button{
    background:none;
    border:none;
    margin-top: 15px;
    width:35px;
    height: 35px;
}


.calendar-column-button:hover{
    background-color:#eac13a4d;
    border-radius: 50%;
}

.calendar-column-button.choiced{
    background-color:#eac13a;
    border-radius: 50%;
}



.calendar-column-dots{
    position: relative;
    width:20px;
}

.calendar-column-dots span{
    position: absolute;
    left:-8px;
    top:-8px;
}

.diaryTrueLeft{
    position: absolute;
    top:3px;
    left:-3px;
}
.diaryTrueRight{
    position: absolute;
    top:3px;
    left:3px;
}

.calendar-dot-info{
    margin-top: 15px;
    font-size: small;
}