.feed-border {
  border: 15px solid #fff;
  border-radius: 4px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.feed-card {
  background: #ffffff;
  /* border: 2px solid #e2e2e2; */
  border-radius: 7px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.feed-card-header {
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px;
}

.feed-card-user-image {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  vertical-align: middle;
  margin-top: 12px;
}

.feed-card-user-name {
  font-weight: bold;
  margin-left: 5px;
  font-size: 17px;
  color: #eac03a;
  display: inline;
}

.feed-card-time {
  color: #999;
  margin-left: 52px;
  margin-top: -21px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  font-size: 13px;
}

/* 글내용 이미지 */
.feed-card-img-information {
  padding-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}
.feed-card-image {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

/* 글내용 텍스트 */
.feed-card-information {
  padding-top: 10px;
  margin-left: 30px;
  margin-right: 20px;
  display: flex;
}

/* 하단바 */
.feed-card-hr {
  border: none;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 10px;
  margin: 20px;
}

/* 버튼 */
.feed-icons {
  font-weight: regular;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 50px;
  margin-bottom: 15px;
  margin-top: -11px;
}

.feed-icons .btn-secondary {
  color: #6c757d;
  background-color: #fff;
  border-color: #fff;
}

.feed-icons .btn-secondary:active {
  color: #6c757d;
  background-color: #fff;
  border-color: #fff;
}
.feed-icons .btn-secondary:hover {
  color: #6c757d;
  background-color: #fff;
  border-color: #fff;
}

.feed-right {
  float: right;
  margin-right: 1px;
  padding-top: 0px;
  text-align: right;
}

.feed-card-button-left {
  float: left;
  font-size: 14px;
}

.feed-card-button-right {
  float: right;
  font-size: 14px;
}
