.feed-container {
  width: 100%;
  margin: auto;
}

.responsive-image {
  max-width: 100%;
}
.gallery-item {
  padding: 5px;
}
.gallery-item img {
  display: block;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .gallery-item {
    width: 50%;
    cursor: pointer;
  }
}

@media screen and (min-width: 1000px) {
  .gallery-item {
    width: calc(100% / 3);
  }
}

/* 이미지 hover */
