
.challenge-main-img{
    text-align: center;
  }
  .challenge-main-img img{
    display: inline-block;
    margin:20px auto;
    height:150px; 
  }
  
  .challenge-main-img button{
    border:none !important;
    background: none !important;
    color:black;
  }

  .challenge-main-img button:hover{
    color:#EAC03A;
  }