.card-carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 40px;
    color: #666a73;
}
.card-carousel {
    display: flex;
    justify-content: center;
    width: 100%;
}
.card-carousel--overflow-container {
    overflow: hidden;
}
.card-carousel--nav__left, .card-carousel--nav__right {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-top: 2px solid #E65C2E;
    border-right: 2px solid #E65C2E;
    cursor: pointer;
    margin: 0 20px;
    transition: transform 150ms linear;
}
.card-carousel--nav__left[disabled], .card-carousel--nav__right[disabled] {
    opacity: 0.2;
    border-color: black;
}
.card-carousel--nav__left {
    transform: rotate(-135deg);
}
.card-carousel--nav__left:active {
    transform: rotate(-135deg) scale(0.9);
}
.card-carousel--nav__right {
    transform: rotate(45deg);
}
.card-carousel--nav__right:active {
    transform: rotate(45deg) scale(0.9);
}
.card-carousel-cards {
    display: flex;
    transition: transform 150ms ease-out;
    transform: translatex(0px);
}
.card-carousel-card:hover {
    cursor: pointer;
}
.card-user-image {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    overflow: hidden;
  }
  .challenge-list-card-body {
    margin: 5px 10px;
  }

  
  .challenge-list-card-footer {
    margin: 5px 10px;
  }
  
  .challenge-list-card-hr {
    margin: 0px !important;
  }
  
  #card-title {
    font-size: large;
    font-weight: 700;
  }
  
  .card-user-image {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  #card-user-nick-name {
    font-size: small;
    font-weight: 500;
    color: #aaa;
    margin-left: 5px;
  }
  
  #card-day {
    background-color: #eac03a;
    border-radius: 7%;
    font-size: small;
    color: #fff;
    padding: 4px 3px;
    margin-right: 3px;
  }
  
  #card-period {
    background-color: #eac03a;
    border-radius: 10%;
    font-size: small;
    color: #fff;
    padding: 4px 3px;
    margin-right: 3px;
  }
 .footer-content {
    padding: 0 !important;
 }


/* ========================================================== */

/* 반응형 */

@media screen and (min-width: 769px) {
  .carousel-mobile {
    display: none;

  }

  
 
}
  
@media screen and (max-width: 768px) {
  .carousel-web {
    display: none;
}
    
.carousel-cell{
  width:100%;
}
    .flickity-viewport{
      height: 314px !important;
    }
}