@media (max-width: 480px) {
  .password-confirm-info {
    padding: 50px 0;
    margin: auto;
    width: 100% !important;
  }

  .password-confirm-infotext {
    padding: 15px !important;
  }

  .password-confirm-infotext {
    padding-top: 0px !important;
  }
}

.error-text {
  color: red;
}

.password-confirm-container {
  margin: 20px auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 5px solid #eac03a;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2.5px 5px #ccc;
}

.password-confirm-info {
  padding: 50px 0;
  margin: auto;
  width: 60%;
}

.pw-confirm-input {
  width: 60%;
  margin: auto;
}

.form-group {
}

.control-label {
  font-size: 14px;
}
.control-input {
  padding-bottom: 10px;
}

.control-input .form-control {
  font-size: 15px;
}

.control-input .form-control:hover {
  box-shadow: 0 0 0 1px #eac03a;
}
.control-input .form-control:focus {
  box-shadow: 0 0 0 1px #eac03a, inset 0 2px 5px -1px rgba(0, 0, 0, 0.25);
}

.input-file-button {
  padding: 3px 18px;
  font-size: 13px;
  background-color: #fc6d3d;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.email-input__separator {
  flex: 0 0 20px;
  text-align: center;
  line-height: 40px;
  color: #dbdbdb;
}

.input-group .form-control {
  width: 0;
}

.email-input__domain > .form-control,
.email-input__local > .form-control {
  width: 100%;
}

.edit-submit-btn {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.edit-btn-priority {
  display: block;
  width: 50%;
  margin: 20px 0;
  padding: 13px 15px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.41;
  background-color: #eac03a;
  border-color: #eac03a;
  color: #ffffff;
  margin: auto;
}

.edit-btn-priority:hover {
  background-color: #eac03a;
  border-color: #eac03a;
}

.profileedit-tab div .nav-link {
  color: #dbdbdb;
}

.profileedit-tab div .nav-link.active {
  color: #eac03a;
  /* font-weight: bold; */
}

.pw-confirm-info {
  padding-bottom: 30px;
}

.password-confirm-infotext {
  text-align: center;
  font-weight: bold;
  padding-bottom: 6px;
  font-size: 18px;
  padding-top: 15px;
}

.password-change-info {
  text-align: right;
  font-size: 12px;
}

.error-text {
  color: red;
  font-size: 12px;
}

.passchange-confirm-btn {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.passconfirm-btn-priority {
  width: 50%;
  padding: 13px 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: #eac03a;
  line-height: 1.41;
  border-color: #eac03a;
  color: #ffffff;
}
